.directory
.mc-lists.el
ac-comphist.dat
auto-save-list/
etc/private.el.gpg
etc/private.el
elpa/
eshell/
project-explorer-cache/
session.*
url/
projectile-bookmarks.eld
*.elcvar/
emacs-init.el
var/
*.elc
tramp
.python-environments/
ido.last
recentf
smex-items
network-security.data
